<nav class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand"
      ui-sref="app.home"
      ng-bind="::$ctrl.appName | lowercase">
    </a>

    <!-- Show this for logged out users -->
    <ul class="nav navbar-nav pull-xs-right" show-authed="false">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref="app.login" ui-sref-active="active">Sign in</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" ui-sref="app.register" ui-sref-active="active">Sign up</a>
      </li>

    </ul>

    <ul show-authed="true" class="nav navbar-nav pull-xs-right">

    <li class="nav-item">
      <a class="nav-link" ui-sref="app.home" ui-sref-active="active">Home</a>
    </li>

     <li class="nav-item">
      <a class="nav-link" ui-sref="app.editor" ui-sref-active="active"><i class="ion-compose"></i>&nbsp;New Article</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.settings">
        <i class="ion-gear-a"></i>&nbsp;Settings
      </a>

    </li>
  
    <li class="nav-item">
      <a class="nav-link" ui-sref="app.profile.main({ username: $ctrl.currentUser.username })" ui-sref-active="active">
        <img class="user-pic" ng-src="{{$ctrl.currentUser.image}}"/>
        {{ $ctrl.currentUser.username }}
      </a>
    </li>
      
    </ul>


  </div>
</nav>
